<form action="/articles" method="post">


  <label for="title">Article Title:</label>
  <input type="text" name="title"><br />

  <label for="url">Article URL:</label>
  <input type="text" name="url"><br />

  <label for="description">Article Description:</label>
  <input type="text" name="description"><br />
  <input type="submit">
</form>
